[{
    "args2_6": {
        "net": {
            "port": "{{ mongodb_net_port }}"
        },
        "replication": {
            "replSetName": "{{ mongodb_replication_replset }}"
        },
        "storage": {
            "dbPath": "{{ mongodb_storage_dbpath }}"
        },
        "systemLog": {
            "destination": "file",
            "path": "{{ mongodb_systemlog_path }}"
        }
    },
    "hostname": "{{ groups['{{ cluster_name }}_master'][0] }}",
    "name": "{{ mongodb_replication_replset }}0",
    "processType": "mongod",
    "version": "{{ mongodb_version }}",
    "authSchemaVersion": 5
},
{
    "args2_6": {
        "net": {
            "port": "{{ mongodb_net_port }}"
        },
        "replication": {
            "replSetName": "{{ mongodb_replication_replset }}"
        },
        "storage": {
            "dbPath": "{{ mongodb_storage_dbpath }}"
        },
        "systemLog": {
            "destination": "file",
            "path": "{{ mongodb_systemlog_path }}"
        }
    },
    "hostname": "{{ groups['{{ cluster_name }}_replicas'][0] }}",
    "name": "{{ mongodb_replication_replset }}1",
    "processType": "mongod",
    "version": "{{ mongodb_version }}",
    "authSchemaVersion": 5
},
{
    "args2_6": {
        "net": {
            "port": "{{ mongodb_net_port }}"
        },
        "replication": {
            "replSetName": "{{ mongodb_replication_replset }}"
        },
        "storage": {
            "dbPath": "{{ mongodb_storage_dbpath }}"
        },
        "systemLog": {
            "destination": "file",
            "path": "{{ mongodb_systemlog_path }}"
        }
    },
    "hostname": "{{ groups['{{ cluster_name }}_replicas'][1] }}",
    "name": "{{ mongodb_replication_replset }}2",
    "processType": "mongod",
    "version": "{{ mongodb_version }}",
    "authSchemaVersion": 5
}]
