{
   "options": {
        "downloadBase": "/var/lib/mongodb-mms-automation",
        "downloadBaseWindows": "C:\\MMSAutomation\\versions"
    },
    "mongoDbVersions": [
        {"name": "{{ mongodb_version }}"}
    ],
    "processes": [
        {
            "args2_6": {
                "net": {
                    "port": "{{ mongodb_net_port }}"
                },
                "replication": {
                    "replSetName": "{{ mongodb_replication_replset }}"
                },
                "storage": {
                    "dbPath": "{{ mongodb_storage_dbpath }}"
                },
                "systemLog": {
                    "destination": "file",
                    "path": "{{ mongodb_systemlog_path }}"
                }
            },
            "hostname": "{{ groups['mongo'][0] }}",
            "name": "apitest0",
            "processType": "mongod",
            "version": "{{ mongodb_version }}",
            "authSchemaVersion": 5
        },
        {
            "args2_6": {
                "net": {
                    "port": "{{ mongodb_net_port }}"
                },
                "replication": {
                    "replSetName": "{{ mongodb_replication_replset }}"
                },
                "storage": {
                    "dbPath": "{{ mongodb_storage_dbpath }}"
                },
                "systemLog": {
                    "destination": "file",
                    "path": "{{ mongodb_systemlog_path }}"
                }
            },
            "hostname": "{{ groups['mongo'][1] }}",
            "name": "apitest1",
            "processType": "mongod",
            "version": "{{ mongodb_version }}",
            "authSchemaVersion": 5
        },
        {
            "args2_6": {
                "net": {
                    "port": "{{ mongodb_net_port }}"
                },
                "replication": {
                    "replSetName": "{{ mongodb_replication_replset }}"
                },
                "storage": {
                    "dbPath": "{{ mongodb_storage_dbpath }}"
                },
                "systemLog": {
                    "destination": "file",
                    "path": "{{ mongodb_systemlog_path }}"
                }
            },
            "hostname": "{{ groups['mongo'][2] }}",
            "name": "apitest2",
            "processType": "mongod",
            "version": "{{ mongodb_version }}",
            "authSchemaVersion": 5
        }
    ],
    "replicaSets": [
        {
            "_id": "{{ mongodb_replication_replset }}",
            "members": [
                {
                    "_id": 0,
                    "host": "apitest0"
                },
                {
                    "_id": 1,
                    "host": "apitest1"
                },
                {
                    "_id": 2,
                    "host": "apitest2"
                }
            ]
        }
    ]
}
